[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/CVolume"]
	path = lib/CVolume
	url = git@github.com:hofmannu/CVolume.git
[submodule "lib/matio"]
	path = lib/matio
	url = https://github.com/tbeu/matio.git
